<style type="text/css">
	body {
		color: <%= @font_color %>;
	}
</style>

<h1 class="fjalla-one">Contact Me</h1>
<div class="fjalla-one">
	<p class="lalezar">Jeffrey Vatalaro</p>
	<p class="lalezar">An Address</p>
	<p class="lalezar">A Phone Number</p>
	<p class="lalezar">An Email Address</p>
</div>